<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.momentum.activedayz">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Achievements" >
        </activity>
        <activity android:name=".Community" >
        </activity>
        <activity android:name=".Leaders" >
        </activity>
        <activity android:name=".ChallengeComs" >
        </activity>
        <activity android:name=".CreateComs" >
        </activity>
        <activity android:name=".JoinComs" >
        </activity>
        <activity android:name=".InviteComs" >
        </activity>
        <activity android:name=".LeadersComs" >
        </activity>
        <activity android:name=".LeadersGlobal" >
        </activity>
        <activity android:name=".MyComs" >
        </activity>
        <activity android:name=".Pandas" >
        </activity>
    </application>

</manifest>